<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Eterna</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="https://fonts.googleapis.com/css?family=Handlee|Open+Sans:300,400,600,700,800" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="css/flexslider.css" rel="stylesheet" />
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="css/camera.css" rel="stylesheet" />
  <link href="css/jquery.bxslider.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />

  <!-- Theme skin -->
  <link href="color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <style type="text/css">
		.preloader {
		  position: fixed;
		  top: 0;
		  left: 0;
		  width: 100%;
		  height: 100%;
		  z-index: 9999;
		  background-color: #fff;
		}
		.preloader .loading {
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%,-50%);
		  font: 14px arial;
		}
</style>
<script>
	$(document).ready(function(){
	$(".preloader").fadeOut();
	})
</script>
</head>

<body>

<div class="preloader">
  <div class="loading">
    
    <p>Harap Tunggu...</p>
  </div>
</div>

  <div id="wrapper">


    <!-- start header -->
    <header>
      <div class="">
<br>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <a href="index.html"><img src="img/logo.png" alt="" /></a>
			  <p><b>Jaringan Dokumentasi dan Informasi Hukum Kabupaten Luwu-Utara</b></p>
            </div>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li class="">
                      <a href="#"><i class="icon-home">  Beranda</i></a>
                     
                    </li>
                    <li class="dropdown">
                      <a href="#">Profil <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="typography.html">Visi dan Misi</a></li>
                        <li><a href="components.html">Struktur Organisasi</a></li>
                        <li><a href="icons.html">Renstra </a></li>
                        <li><a href="icon-variations.html">Tupoksi</a></li>
                      </ul>
                    </li>
                    <li class="">
                      <a href="#">Berita</a>

                    </li>
                    <li class="dropdown">
                      <a href="#">Produk Hukum <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="portfolio-2cols.html">Peraturan Daerah</a></li>
                        <li><a href="portfolio-3cols.html">Peraturan Bupati</a></li>
						<li><a href="portfolio-3cols.html">Keputusan Bupati</a></li>
						<li><a href="portfolio-3cols.html">Peraturan Bersama Bupati</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="#">Info Hukum <i class="icon-angle-down"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-left-sidebar.html">Intruksi Bupati</a></li>
						<li><a href="blog-left-sidebar.html">MoU</a></li>
						<li><a href="blog-left-sidebar.html">Katalog PHD</a></li>
						<li><a href="blog-left-sidebar.html">Pengumuman</a></li>
					 </ul>
                    </li>
					<li class="">
                      <a href="#">Galery</a>
                    </li>
					<li class="">
                      <a href="#">Kontak</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <section id="content">
	<marquee><strong>This text will scroll from right to left<strong></marquee>
      <div class="container">
	   <div class="row">
		<div class="span8">
		
            <article>
			<div class="row">
			  
                <div class="span8">
				<hr>
				
				
				<form class="form-inline" role="form">

					<div class="span1 form-group">
					  <input type="text" class="form-control" placeholder="NOMOR" name="title">
					</div>
					<div class="span1 form-group">
					  <input type="text" class="form-control" placeholder="TAHUN" name="year">
					</div>
					<div class="span1 form-group">
					  <input type="text" class="form-control" placeholder="TENTANG" name="tentang">
					</div>
					
					<div class="span2 form-group">
						<select name="category" id="lunchBegins" class="form-control" title="KATEGORI">
							<option value="10">-Pilih Kategori-</option>
							<option value="10">Undang-Undang</option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary">Cari Produk Hukum</button>
					</div>
				</form>
			</div>
			</div>
			
              <div class="row">
			  
                <div class="span4">
				<b>Produk Hukum Terbaru</b>
				<br>
				<table class="table">
				<tr>
					<td><h1><i class="icon-file"></i></h1></td>
					<td>
					<div class="post-heading">
                      <b><a href="#">This is an example of standard post format</a></b>
                    </div>
					<div class="post-entry">
                    <p>
                      Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, 
                    </p>
                  </div>
                  <div class="meta-post">
                    <ul>
                      <li><i class="icon-file"></i></li>
                      <li>By <a href="#" class="author">Admin</a></li>
                      <li>On <a href="#" class="date">10 Jun, 2013</a></li>
                      <li>Tags: <a href="#">Design</a>, <a href="#">Blog</a></li>
                    </ul>
                  </div>
					</td>
				</tr>
				
				</table>
				
				
				
                  
                 
                </div>
				
				<div class="span4">
                  <b>Produk Hukum Populer</b>
				<br>
				<table class="table">
				<tr>
					<td><h1><i class="icon-file"></i></h1></td>
					<td>
					<div class="post-heading">
                      <b><a href="#">This is an example of standard post format</a></b>
                    </div>
					<div class="post-entry">
                    <p>
                      Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, 
                    </p>
                  </div>
                  <div class="meta-post">
                    <ul>
                      <li><i class="icon-file"></i></li>
                      <li>By <a href="#" class="author">Admin</a></li>
                      <li>On <a href="#" class="date">10 Jun, 2013</a></li>
                      <li>Tags: <a href="#">Design</a>, <a href="#">Blog</a></li>
                    </ul>
                  </div>
					</td>
				</tr>
				
				</table>
                </div>
              </div>
            </article>
		</div>
		<div class="span4">
		 <aside class="right-sidebar">

              <div class="widget">
                <form>
                  <div class="input-append">
                    <input class="span2" id="appendedInputButton" type="text" placeholder="Type here">
                    <button class="btn btn-theme" type="submit">Search</button>
                  </div>
                </form>
              </div>
		</aside>
		</div>
		</div>
      </div>
    </section>


    <footer>
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Tentang Kami</h5>
              <ul class="link-list">
                <li><a href="#">Jl. Simpurusiang No. 27 Masamba</a></li>
                <li><a href="#">Telp : 0473-21003</a></li>
                <li><a href="#">Email : bagianhukumsetda@luwuutarakab.go.id</a></li>
                <li><a href="#">Fax : 0473-21536</a></li>
              </ul>

            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Tautan</h5>
			  <ul>
				<li>Visi dan Misi</li>
				<li>Produk Hukum</li>
				<li>Direktori Hukum</li>
			  </ul>
            </div>
          </div>
          <div class="span4">
            <div class="widget">
              <h5 class="widgetheading">Link Terkait</h5>
            </div>
          </div>
        </div>
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p><span>&copy; Biro Hukum Donggala , All rights reserved 2018
</span></p>
              </div>

            </div>

            <div class="span6">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Eterna
                -->
                Designed by <a href="http://facebook.com/ilhamsaleh" target="_blank">Ilham Saleh</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>

  <!-- javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="js/jquery.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap.js"></script>

  <script src="js/modernizr.custom.js"></script>
  <script src="js/toucheffects.js"></script>
  <script src="js/google-code-prettify/prettify.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/camera/camera.js"></script>
  <script src="js/camera/setting.js"></script>

  <script src="js/jquery.prettyPhoto.js"></script>
  <script src="js/portfolio/jquery.quicksand.js"></script>
  <script src="js/portfolio/setting.js"></script>

  <script src="js/jquery.flexslider.js"></script>
  <script src="js/animate.js"></script>
  <script src="js/inview.js"></script>

  <!-- Template Custom JavaScript File -->
  <script src="js/custom.js"></script>



</body>

</html>
