/* Custom CSS for JDIH Donggala */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #003366 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}
