body{
	font-size:14px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#container{
	margin:10px 30px;	
}
h3{
	border-bottom:1px solid #000;
	font-size:25px;
	margin:20px 0px 10px;
}
p{
	padding:10px;	
}
.obj{
	padding:3px;
	border:1px solid #ccc;
	background-color:#fff;	
	margin-top:10px;
	min-height:600px;
}
.obj object{
	width:100%;
	height:auto;	
}
a{
	color:#3b7fff;	
	text-decoration:none;
}
a:hover{
	text-decoration:underline;	
}
